<ion-header>
  <ion-toolbar color="success">
    <ion-title>Nosso Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="success">
   
      <center><img color="success" src="https://www.mandatto.com/img/mandatto-hm-sobrenos.jpg"></center>
  
    <ion-card-content>
      A RecCAT teve iníco através de um projeto delegado pela prefeitura, com uma parceira entre o IF Sudeste MG e a Secretaria do Meio Ambiente.
    </ion-card-content>
  </ion-card>
     
  <center><img src="https://i.imgur.com/CC7zoVZ.png"></center>
<ion-card >




<ion-card-content>
  <b>Endereço:</b>  Praça Santa Rita, 462 - Centro, Cataguases - MG
 <br>
 <b>CEP:</b> 36770-060
 <br>
 <b>Telefone:</b> (32)3422-1066
</ion-card-content>
</ion-card>



<center><ion-button size="Large" color="success" href="https://api.whatsapp.com/send?phone=5532999179664&text=Ol%C3%A1.%20tudo%20bem%3F%20Estou%20com%20d%C3%BAvida%20sobre%20o%20aplicativo!"> (32)99917-9664
  <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
</ion-button></center>

</ion-content>




